@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor1: #000;
    --cor2: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    color: var(--cor1);
}

.container {
    width: 400px;
    height: 400px;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

button {
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 75px;
    height: 30px;
    color: var(--cor2);
    background-color: var(--cor1);
}

/*       -空-       */